div button {
	border: none;
	font-weight: bold;
	padding: .2rem 1rem;
	cursor: pointer;
}


#add { background: lime;}
#remove { background: red;}
#submit { background: blue;}


input[type="number"], tfoot {
	width: 5rem  ;
}